<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">ASAP SHOP</h5>
        <nav class="mx-auto">
            <a class="btn btn-outline-secondary" href="/mainpage">Home page</a>
            <a sec:authorize="hasRole('ADMIN')" class="btn btn-outline-secondary" href="/products">Create product</a>
            <a class="btn btn-outline-secondary" href="/products-list">Products list</a>
            <a class="btn btn-outline-secondary" href="/loginpage">Log in</a>
            <a class="btn btn-outline-secondary" href="/registration">Sing up</a>
        </nav>
    </div>
</div>