<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
<div th:insert="fragments/header :: header"></div>
<div class="container mt-5">
    <h1>My profile</h1>
    <div th:each="${profile}" class="alert alert-info mt-2">
        <h3 th:text="${profile.getName()}"></h3>
        <h3 th:text="${profile.getSurname()}"></h3>
        <h3 th:text="${profile.getRoles()}"></h3>
    </div>

</div>
</body>
</html>